<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>UserName</key>
			<string>root</string>
		<key>StandardErrorPath</key>
			<string>/tmp/cyclone.stderr</string>
		<key>StandardOutPath</key>
			<string>/tmp/cyclone.stdout</string>
		<key>Label</key>
			<string>com.cyclone.program</string>
		<key>ProgramArguments</key>
			<array>
				<string>/usr/local/bin/xpc_set_event_stream_handler</string>
				<string>/usr/local/bin/cyclone</string>
			</array>
		<key>EnvironmentVariables</key>
            <dict>
                <key>PATH</key>
                <string>/usr/local/sbin:/usr/local/bin:/opt/local/bin:/opt/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
                <key>PYTHON</key>
                <string>/usr/bin/python2.7</string>
            </dict>
		<key>LaunchEvents</key>
			<dict>
				<key>com.apple.iokit.matching</key>
				<dict>
					<key>com.apple.device-attach</key>
					<dict>
						<key>idVendor</key>
							<integer>9600</integer>
						<key>idProduct</key>
							<integer>7</integer>
						<key>IOProviderClass</key>
							<string>IOUSBDevice</string>
						<key>IOMatchLaunchStream</key>
							<true/>
						<key>IOMatchStream</key>
							<true/>
					</dict>
				</dict>
			</dict>
	</dict>
</plist>
